body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chessboard {
  display: flex;
  flex-direction: column;
}

.chess-row {
  display: flex;
}

.chess-square {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chess-square-even {
  background-color: #eee;
}

.chess-square-odd {
  background-color: #adadad;
}
.highlight {
  background: url('./white_queen.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
}
